.galerie {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.galerieImg {
    width: 100%;
    height: 100%
}

@media (max-width: 499px) {
    .galerie {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 500px) and (max-width: 699px) {
    .galerie {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 700px) and (max-width: 899px) {
    .galerie {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 900px) and (max-width: 1099px) {
    .galerie {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (min-width: 1100px) {
    .galerie {
        grid-template-columns: repeat(6, 1fr);
    }
}